In [223]:
import pandas as pd
from sqlalchemy import create_engine

In [224]:
path_2012='Resources/2012_US_elect_county.csv'
path_2016='Resources/2016-president.csv'

In [225]:
df1=pd.read_csv(path_2012, error_bad_lines=False)
df2=pd.read_csv(path_2016, error_bad_lines=False)

In [226]:
df1

     State Postal County Name     FIPS  Obama vote      %  Romney vote    %.1
0              AK      Alaska      0.0     91696.0  41.60     121234.0  55.00
1              AK      Alaska   2000.0     91696.0  41.60     121234.0  55.00
2              AL     Alabama      0.0    793620.0  38.40    1252453.0  60.70
3              AL     Autauga   1001.0      6354.0  26.60      17366.0  72.60
4              AL     Baldwin   1003.0     18329.0  21.60      65772.0  77.40
...           ...         ...      ...         ...    ...          ...    ...
4069           WV     Webster  54101.0       939.0  34.20       1708.0  62.20
4070           WV      Wetzel  54103.0      2194.0  37.80       3449.0  59.40
4071           WV        Wirt  54105.0       673.0  31.10       1422.0  65.70
4072           WV        Wood  54107.0     11067.0  32.90      21980.0  65.40
4073           WV     Wyoming  54109.0      1575.0  21.00       5751.0  76.70

[4074 rows x 7 columns]

44

In [227]:
df2

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
0,2016,Alabama,AL,1,63,41,US President,"Trump, Donald J.",republican,False,1318255,2123372,20171015,NaN
1,2016,Alabama,AL,1,63,41,US President,"Clinton, Hillary",democrat,False,729547,2123372,20171015,NaN
2,2016,Alabama,AL,1,63,41,US President,"Johnson, Gary",libertarian,False,44467,2123372,20171015,NaN
3,2016,Alabama,AL,1,63,41,US President,NaN,NaN,True,21712,2123372,20171015,NaN
4,2016,Alabama,AL,1,63,41,US President,"Stein, Jill",green,False,9391,2123372,20171015,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2016,Wyoming,WY,56,83,68,US President,NaN,NaN,True,6904,258788,20171015,NaN
341,2016,Wyoming,WY,56,83,68,US President,NaN,independent,False,3224,258788,20171015,NaN
342,2016,Wyoming,WY,56,83,68,US President,Blank Vote,NaN,False,2661,258788,20171015,NaN
343,2016,Wyoming,WY,56,83,68,US President,"Castle, Darrell L.",constitution party,False,2042,258788,20171015,NaN
344,2016,Wyoming,WY,56,83,68,US President,Over Vote,NaN,False,278,258788,20171015,NaN

In [228]:
df1_new=df1[["State Postal","County Name","Obama vote","Romney vote",'FIPS']].drop_duplicates(subset='Romney vote', keep='first')

In [229]:
df2_new=df2[["year","state","state_po","party","candidatevotes"]]

In [230]:
df2_new['Republican']=0
df2_new['Democrat']=0
df2_new

,year,state,state_po,party,candidatevotes,Republican,Democrat
0,2016,Alabama,AL,republican,1318255,0,0
1,2016,Alabama,AL,democrat,729547,0,0
2,2016,Alabama,AL,libertarian,44467,0,0
3,2016,Alabama,AL,NaN,21712,0,0
4,2016,Alabama,AL,green,9391,0,0
...,...,...,...,...,...,...,...
340,2016,Wyoming,WY,NaN,6904,0,0
341,2016,Wyoming,WY,independent,3224,0,0
342,2016,Wyoming,WY,NaN,2661,0,0
343,2016,Wyoming,WY,constitution party,2042,0,0
344,2016,Wyoming,WY,NaN,278,0,0

In [231]:
df2_new['party'][2]

'libertarian'

In [232]:
y=0
for x in df2_new['Democrat']:
    if df2_new['party'][y]=='republican':
        df2_new['Republican'][y]=df2_new['candidatevotes'][y]
    elif df2_new['party'][y]=='democrat':
        df2_new['Democrat'][y]=df2_new['candidatevotes'][y]

    y=y+1

df2_new

,year,state,state_po,party,candidatevotes,Republican,Democrat
0,2016,Alabama,AL,republican,1318255,1318255,0
1,2016,Alabama,AL,democrat,729547,0,729547
2,2016,Alabama,AL,libertarian,44467,0,0
3,2016,Alabama,AL,NaN,21712,0,0
4,2016,Alabama,AL,green,9391,0,0
...,...,...,...,...,...,...,...
340,2016,Wyoming,WY,NaN,6904,0,0
341,2016,Wyoming,WY,independent,3224,0,0
342,2016,Wyoming,WY,NaN,2661,0,0
343,2016,Wyoming,WY,constitution party,2042,0,0
344,2016,Wyoming,WY,NaN,278,0,0

In [233]:
df1_new = df1_new.rename(columns={'Obama vote': 'Democrat', 'Romney vote': 'Republican'})
df1_new['year']=2012
df1_new

     State Postal County Name  Democrat  Republican     FIPS  year
0              AK      Alaska   91696.0    121234.0      0.0  2012
2              AL     Alabama  793620.0   1252453.0      0.0  2012
3              AL     Autauga    6354.0     17366.0   1001.0  2012
4              AL     Baldwin   18329.0     65772.0   1003.0  2012
5              AL     Barbour    5873.0      5539.0   1005.0  2012
...           ...         ...       ...         ...      ...   ...
4068           WV       Wayne    4915.0      8673.0  54099.0  2012
4069           WV     Webster     939.0      1708.0  54101.0  2012
4070           WV      Wetzel    2194.0      3449.0  54103.0  2012
4072           WV        Wood   11067.0     21980.0  54107.0  2012
4073           WV     Wyoming    1575.0      5751.0  54109.0  2012

[3351 rows x 6 columns]

In [234]:
x=df2_new.groupby('state').sum().reset_index()
x["year"]=2016
df2_clean=x.drop(['candidatevotes'], axis='columns')

df2_clean

                   state  year  Republican  Democrat
0                Alabama  2016     1318255    729547
1                 Alaska  2016      163387    116454
2                Arizona  2016     1252401   1161209
3               Arkansas  2016      684872    380494
4             California  2016     4483810   8753788
5               Colorado  2016     1202484   1338870
6            Connecticut  2016      673215    897572
7               Delaware  2016      185127    235603
8   District of Columbia  2016       12723    282830
9                Florida  2016     4617886   4504975
10               Georgia  2016     2089104   1877963
11                Hawaii  2016      128847    266891
12                 Idaho  2016      409055    189765
13              Illinois  2016     2146015   3090729
14               Indiana  2016     1557286   1033126
15                  Iowa  2016      800983    653669
16                Kansas  2016      671018    427005
17              Kentucky  2016     1202971    628854
18             Louisiana  2016     1178638    780154
19                 Maine  2016      335593    357735
20              Maryland  2016      943428   1678006
21         Massachusetts  2016     1090893   1995196
22              Michigan  2016     2279543   2268839
23             Minnesota  2016     1322949   1367705
24           Mississippi  2016      700714    485131
25              Missouri  2016     1594511   1071068
26               Montana  2016      279240    177709
27              Nebraska  2016      495961    284494
28                Nevada  2016      512058    539260
29         New Hampshire  2016      345790    348526
30            New Jersey  2016     1601933   2148278
31            New Mexico  2016      319667    385234
32              New York  2016     2527142   4379789
33        North Carolina  2016     2362631   2189316
34          North Dakota  2016      216794     93758
35                  Ohio  2016     2841005   2394164
36              Oklahoma  2016      949136    420375
37                Oregon  2016      782403   1002106
38          Pennsylvania  2016     2970733   2926441
39          Rhode Island  2016      180543    252525
40        South Carolina  2016     1155389    855373
41          South Dakota  2016      227721    117458
42             Tennessee  2016     1522925    870695
43                 Texas  2016     4685047   3877868
44                  Utah  2016      515211    310674
45               Vermont  2016       95369    178573
46              Virginia  2016     1769443   1981473
47            Washington  2016     1221747   1742718
48         West Virginia  2016      489371    188794
49             Wisconsin  2016     1405284   1382536
50               Wyoming  2016      174419     55973

In [235]:
y = df1_new.loc[df1_new['FIPS']==0]

     State Postal           County Name   Democrat Republican  FIPS  year
0              AK                Alaska     91,696    121,234     0  2012
2              AL               Alabama    793,620  1,252,453     0  2012
70             AR              Arkansas    391,953    643,717     0  2012
145            AZ               Arizona    900,081  1,107,130     0  2012
161            CA            California  6,241,648  4,046,524     0  2012
220            DC  District of Columbia    222,332     17,337     0  2012
222            DE              Delaware    242,547    165,476     0  2012
226            HI                Hawaii    303,090    119,494     0  2012
227            HI                Hawaii     46,670     14,541     0  2012
231            IA                  Iowa    816,429    727,928     0  2012
279            IA                  Iowa      4,118      4,551     0  2012
331            ID                 Idaho    212,560    420,750     0  2012
376            IL              Illinois  2,916,811  2,090,116     0  2012
479            IN               Indiana  1,140,425  1,412,620     0  2012
572            KS                Kansas    427,918    678,719     0  2012
678            KY              Kentucky    679,340  1,087,127     0  2012
799            LA             Louisiana    808,496  1,152,460     0  2012
864            MA         Massachusetts  1,901,276  1,178,245     0  2012
1216           MD              Maryland  1,527,686    904,970     0  2012
1241           ME                 Maine    397,754    290,437     0  2012
1741           MI              Michigan  2,561,911  2,112,673     0  2012
1825           MN             Minnesota  1,547,668  1,321,575     0  2012
1913           MO              Missouri  1,215,031  1,478,961     0  2012
2029           MS           Mississippi    528,260    674,302     0  2012
2112           MT               Montana    200,489    264,974     0  2012
2169           NC        North Carolina  2,178,388  2,275,853     0  2012
2270           ND          North Dakota    124,490    187,586     0  2012
2324           NE              Nebraska    289,154    462,972     0  2012
2418           NH         New Hampshire    368,529    327,870     0  2012
2656           NJ            New Jersey  1,960,744  1,383,233     0  2012
2678           NM            New Mexico    408,312    331,915     0  2012
2712           NV                Nevada    528,801    462,422     0  2012
2730           NY              New York  3,875,826  2,226,637     0  2012
2793           OH                  Ohio  2,697,260  2,593,779     0  2012
2882           OK              Oklahoma    442,647    889,372     0  2012
2937           OK              Oklahoma    106,812    149,525     0  2012
2960           OR                Oregon    932,459    732,288     0  2012
2997           PA          Pennsylvania  2,907,448  2,619,583     0  2012
3065           RI          Rhode Island    274,342    155,355     0  2012
3105           SD          South Dakota    144,988    210,541     0  2012
3172           TN             Tennessee    953,043  1,453,097     0  2012
3268           TX                 Texas  3,294,440  4,555,799     0  2012
3523           VA              Virginia  1,905,528  1,789,618     0  2012
3658           VT               Vermont    199,259     92,700     0  2012
3905           WA            Washington  1,588,309  1,183,614     0  2012
3945           WI             Wisconsin  1,613,950  1,408,746     0  2012
4018           WV         West Virginia    234,925    412,406     0  2012

In [236]:
df1_clean = y.rename(columns={'County Name': 'state'})
df1_clean=df1_clean.drop(['State Postal','FIPS'],axis='columns')
df1_clean=df1_clean.reset_index()
df1_clean=df1_clean.drop(['index'],axis='columns')

df1_clean=df1_clean.groupby('state').sum().reset_index()
df1_clean

                   state   Democrat  Republican  year
0                Alabama   793620.0   1252453.0  2012
1                 Alaska    91696.0    121234.0  2012
2                Arizona   900081.0   1107130.0  2012
3               Arkansas   391953.0    643717.0  2012
4             California  6241648.0   4046524.0  2012
5               Delaware   242547.0    165476.0  2012
6   District of Columbia   222332.0     17337.0  2012
7                 Hawaii   349760.0    134035.0  4024
8                  Idaho   212560.0    420750.0  2012
9               Illinois  2916811.0   2090116.0  2012
10               Indiana  1140425.0   1412620.0  2012
11                  Iowa   820547.0    732479.0  4024
12                Kansas   427918.0    678719.0  2012
13              Kentucky   679340.0   1087127.0  2012
14             Louisiana   808496.0   1152460.0  2012
15                 Maine   397754.0    290437.0  2012
16              Maryland  1527686.0    904970.0  2012
17         Massachusetts  1901276.0   1178245.0  2012
18              Michigan  2561911.0   2112673.0  2012
19             Minnesota  1547668.0   1321575.0  2012
20           Mississippi   528260.0    674302.0  2012
21              Missouri  1215031.0   1478961.0  2012
22               Montana   200489.0    264974.0  2012
23              Nebraska   289154.0    462972.0  2012
24                Nevada   528801.0    462422.0  2012
25         New Hampshire   368529.0    327870.0  2012
26            New Jersey  1960744.0   1383233.0  2012
27            New Mexico   408312.0    331915.0  2012
28              New York  3875826.0   2226637.0  2012
29        North Carolina  2178388.0   2275853.0  2012
30          North Dakota   124490.0    187586.0  2012
31                  Ohio  2697260.0   2593779.0  2012
32              Oklahoma   549459.0   1038897.0  4024
33                Oregon   932459.0    732288.0  2012
34          Pennsylvania  2907448.0   2619583.0  2012
35          Rhode Island   274342.0    155355.0  2012
36          South Dakota   144988.0    210541.0  2012
37             Tennessee   953043.0   1453097.0  2012
38                 Texas  3294440.0   4555799.0  2012
39               Vermont   199259.0     92700.0  2012
40              Virginia  1905528.0   1789618.0  2012
41            Washington  1588309.0   1183614.0  2012
42         West Virginia   234925.0    412406.0  2012
43             Wisconsin  1613950.0   1408746.0  2012

In [250]:
df1_clean = df1_clean.rename(columns={'Democrat': 'democrat', 'Republican': 'republican'})
df1_clean

                   state   democrat  republican  year
0                Alabama   793620.0   1252453.0  2012
1                 Alaska    91696.0    121234.0  2012
2                Arizona   900081.0   1107130.0  2012
3               Arkansas   391953.0    643717.0  2012
4             California  6241648.0   4046524.0  2012
5               Delaware   242547.0    165476.0  2012
6   District of Columbia   222332.0     17337.0  2012
7                 Hawaii   349760.0    134035.0  4024
8                  Idaho   212560.0    420750.0  2012
9               Illinois  2916811.0   2090116.0  2012
10               Indiana  1140425.0   1412620.0  2012
11                  Iowa   820547.0    732479.0  4024
12                Kansas   427918.0    678719.0  2012
13              Kentucky   679340.0   1087127.0  2012
14             Louisiana   808496.0   1152460.0  2012
15                 Maine   397754.0    290437.0  2012
16              Maryland  1527686.0    904970.0  2012
17         Massachusetts  1901276.0   1178245.0  2012
18              Michigan  2561911.0   2112673.0  2012
19             Minnesota  1547668.0   1321575.0  2012
20           Mississippi   528260.0    674302.0  2012
21              Missouri  1215031.0   1478961.0  2012
22               Montana   200489.0    264974.0  2012
23              Nebraska   289154.0    462972.0  2012
24                Nevada   528801.0    462422.0  2012
25         New Hampshire   368529.0    327870.0  2012
26            New Jersey  1960744.0   1383233.0  2012
27            New Mexico   408312.0    331915.0  2012
28              New York  3875826.0   2226637.0  2012
29        North Carolina  2178388.0   2275853.0  2012
30          North Dakota   124490.0    187586.0  2012
31                  Ohio  2697260.0   2593779.0  2012
32              Oklahoma   549459.0   1038897.0  4024
33                Oregon   932459.0    732288.0  2012
34          Pennsylvania  2907448.0   2619583.0  2012
35          Rhode Island   274342.0    155355.0  2012
36          South Dakota   144988.0    210541.0  2012
37             Tennessee   953043.0   1453097.0  2012
38                 Texas  3294440.0   4555799.0  2012
39               Vermont   199259.0     92700.0  2012
40              Virginia  1905528.0   1789618.0  2012
41            Washington  1588309.0   1183614.0  2012
42         West Virginia   234925.0    412406.0  2012
43             Wisconsin  1613950.0   1408746.0  2012

In [251]:
df2_clean = df2_clean.rename(columns={'Democrat': 'democrat', 'Republican': 'republican'})

In [252]:
rds_connection_string = "postgres:300497@localhost:5432/us_elections"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [253]:
engine.table_names()

['elections_2012', 'elections_2016']

In [254]:
df2_clean.to_sql(name='elections_2016', con=engine, if_exists='append', index=False)

In [256]:
df1_clean.to_sql(name='elections_2012', con=engine, if_exists='append', index=False)

In [257]:
pd.read_sql_query('select * from elections_2016', con=engine).head()

        state  year  republican  democrat
0     Alabama  2016     1318255    729547
1      Alaska  2016      163387    116454
2     Arizona  2016     1252401   1161209
3    Arkansas  2016      684872    380494
4  California  2016     4483810   8753788

In [258]:
pd.read_sql_query('select * from elections_2012', con=engine).head()

        state  democrat  republican  year
0     Alabama    793620     1252453  2012
1      Alaska     91696      121234  2012
2     Arizona    900081     1107130  2012
3    Arkansas    391953      643717  2012
4  California   6241648     4046524  2012